  
$base: #f5fffa; /*基本色*/
$fontw4: "ヒラギノ丸ゴ Pro W4";

/*バリデーションエラーによるレイアウト崩れを抑止*/
.field_with_errors {
  display: contents;
  // もしくは diplay: inline;
}

/*ボタン*/
.btn-so-pop {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.25em;
  margin: 10px 50px 0px 0px;
  text-decoration: none;
  color: #FFF;
  background: #CCCCFF;/*色*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #d27d00;/*線色*/
}

.btn-so-pop:active {
  /*押したとき*/
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

/*全体*/
body {
  background: $base;
}
table{
    width: 900px;
}
td {
    font-size: 0.9em;
}
li {
  list-style: none;
}

/*ヘッダー*/
.header {
    height: 90px;
    margin-bottom: 5px;
    text-align: center;
}
.header p {
    font-family: "Nico Moji";
    margin-top:10px;
    font-size: 80px;
}

.contents{
    flex: 1;
    display: flex;
    min-height: 100vh; /*高さの最小値*/
}

.leftNavigation{
    width: 300px;
    text-align: center;
    background-color: #FFF5EE;
}
.main{
    min-height: 100vh;
    background-color: #F0F8FF;
    text-align: center;
    margin-left: 10px;
}
.a1 {
    height: 40px;
    font-size: 1.9em;
    font-family: "ヒラギノ丸ゴ Pro W4";
}
.a2 {
    margin: 20px 20px 20px 20px;
    background-color: #FFFAFA;
    display: flex;
    border: 2px solid #555;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.55);
}
.a2_1 {
    width: 400px;
    font-size: 1.1em;
    text-align: left;
    margin-left: 50px;
    line-height: 1.5em;
}    
.a2_2 {
    width: 400px;
    font-size: 0.8em;
    text-align: left;
    color: #000FFF;
    margin-left: 50px;
    margin-top: 10px;
}
.a4 {
    margin-top: 20px;
    width: 900px;
    font-size: 1.2em;
    margin-left: 100px;
}
.aa {
  transition: all 1s;
}
/*カーソルが乗ったときの状態を指定*/
.aa:hover{
  background-color: #FFFF00;
  font-size: 1.5em;
}

/*詳細表示*/
.detail {
  padding: 10px 50px 30px 20px;
  margin: 10px 50px 0px 30px;
  background: #D7EEFF;
  border-radius: 9px;
  p {
    display: inline-block;
  }
  .title {
  font-family: "ヒラギノ丸ゴ Pro W4"; 
  font-style:oblique;
  color: #75A9FF;
  font-size: 2.4em;
  }
  .article {
    padding: 10px 50px 30px 0px;
    margin: 20px 50px 0px 0px;
    font-family: "ヒラギノ丸ゴ Pro W4";
 
  }
}


/*登録画面表示*/
.registar {
  width: 800px;
  margin: 30px auto;
  padding: 20px;
  background: #FFFFAA; /*黄色*/
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  position: relative;
}

.headline {
    width: 750px;
    height: 60px;
}

.p1 {
    font-size: 1.5rem;
    font-family: $fontw4;
    position: absolute;
    top: 30px;
    left: 50px;
}
.p2 {
    width: 70px;
    height: 30px;
    font-size: 1.0rem;
    position: absolute;
    top: 30px;
    right: 30px;
}

.input_area {
  background: #FFDDFF;
}

.input {
    padding: 0.1em 1em;
    margin: 0.1em 0;
    background: #FFFFEE;
    font-size: 1.2rem;
}
.item{
    padding: 0.1em 0.1em;
    margin: 0.1em 0;
    font-size: 1.0rem;
}
.item p{
    margin: 0; 
    padding: 0;
}
.text-center{
    padding: 0.1em 0.1em;
    margin: 0.1em 0.1em;
    color: #5989cf;
    background: #c6e4ff;
    border-bottom: solid 6px #aac5de;
    border-radius: 9px;
}


